<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Leckerli+One" rel="stylesheet">
	<link rel="stylesheet" href="style/index.css">
	<script src="javascript/index.js" type="module"></script>
	<% if (ingredients.length) { %>
		<style>
			<% for (const i in ingredients) { %>
				<%= `svg:nth-of-type(${Number(i) + 1}) {
					transform:
						translateY(-${(Number(i) + 1) * 15}px)
						rotate(${Math.floor(Math.random() * 90) - 45}deg);
				}` %>
			<% } %>
		</style>
	<% } %>
	<title>Tosto</title>
</head>
<body>
	<header>Maak je tost-o</header>
	<main>
		<form method="POST" action="/add">
			<label class="accessibility-hidden">Kies een ingrediënt om aan je tosti toe te voegen.</label>
			<button type="submit" name="ingredient" value="brood-wit">Wit brood</button>
			<button type="submit" name="ingredient" value="brood-zwart">Zwart brood</button>
			<button type="submit" name="ingredient" value="sla-ijsberg">IJsbergsla</button>
			<button type="submit" name="ingredient" value="sla-romaine">Romainesla</button>
			<button type="submit" name="ingredient" value="saus-mayonaise">Mayonaise</button>
			<button type="submit" name="ingredient" value="saus-ketchup">Ketchup</button>
			<button type="submit" name="ingredient" value="saus-mosterd">Mosterd</button>
			<button type="submit" name="ingredient" value="fruit-tomaat">Tomaat</button>
			<button type="submit" name="ingredient" value="vlees-ham">Ham</button>
			<button type="submit" name="ingredient" value="vlees-bacon">Bacon</button>
			<button type="submit" name="ingredient" value="kaas-cheddar">Cheddar</button>
			<button type="submit" name="ingredient" value="kaas-emmentaler">Emmentaler</button>
		</form>
	</main>
	<footer>
		<div id="ingredients">
			<% ingredients.forEach(ingredient => { %>
				<%- include(`../static/images/${ingredient}.svg`); %>
			<% }); %>
		</div>
		<div id="buttons">
			<a href="/clear" id="clear">Begin opnieuw</a>
			<a href="/done" id="done">Bestellen</a>
		</div>
	</footer>
</body>
</html>