:root {
	font-size: .6rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus {
	background: rgb(204, 212, 255);
	border: 2px solid lime !important;
	outline: none;
} a:focus {
	border: 2px solid lime !important;
	outline: none;
}

body {
	height: 100%;
	background: rgb(223, 214, 240) url(../images/background.png) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

main {
	display: inline-block;
	height: 100vh;
	width: 100%;
	padding: 20vw 0;
}

@media (max-width: 600px) {
	main {
		margin-top: 10rem;
	}
	main, form {
		padding: 0 !important;
	}
}

header, footer {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	text-align: center;
} header {
	top: 0;
	background: url(../images/header.png) no-repeat center center;
	background-size: cover;
	height: 100px;
	font-family: "Leckerli One", cursive;
	font-size: 9vw;
	color: rgb(39, 128, 211);
	text-shadow:
		0 .05em rgb(15, 78, 136),
		0 .1em black;
} footer {
	bottom: 0;
	height: 200px;
	background: rgb(185, 124, 66) url(../images/table.png) no-repeat center center;
	background-size: cover;
}

main>form {
	display: block;
	padding: 1rem 20vw;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
} main>form>button {
	flex: 0 0 15rem;
	height: 4rem;
	font-family: "Indie Flower", cursive;
	font-size: 2rem;
}

footer {
	perspective: 15cm;
} footer>#ingredients {
	position: absolute;
	transform: rotateX(20deg);
} footer>#ingredients>svg {
	width: calc(50px + 10vw);
	position: absolute;
	pointer-events: none;
	left: calc(-17.5vw / 2);
	bottom: -19rem;
} footer>#ingredients>svg:last-of-type {
	animation: add .5s ease;
}

footer>#buttons {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	display: block;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 25vw;
} footer>#buttons>a,
	footer>#buttons>form>button {
	flex: 1 1 100%;
	text-align: center;
	padding: 1rem 2rem;
	border-radius: 999rem;
	color: white;
	font-size: calc(12px + 2vw);
	font-family: "Indie Flower", cursive;
	border: none;
} footer>#buttons a+form {
	margin-top: .5rem;
} footer>#buttons #clear {
	background-color: rgb(255, 45, 80);
} footer>#buttons #done {
	background-color: rgb(39, 128, 211);
}

@keyframes add {
	from {
		opacity: 0;
		margin-bottom: 150px;
	} to {
		opacity: 1;
		margin-bottom: 0;
	}
}

.accessibility-hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}